
*{
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: #cccc;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);

}

.snake {
    background-image: url("image/body.png");
    background-size: 95% 95%;
    background-position: center center;
}

.snake:nth-child(1) {
    background-color: unset;
    background-image: url("image/head.svg");
    background-size: 100% 100%;
    border: none;
}

.snake:nth-child(1).up {
    transform: rotate(-180deg);

}

.snake:nth-child(1).left {
    transform: rotate(90deg);
}

.snake:nth-child(1).right {
    transform: rotate(-90deg);
}

.snake:nth-child(1).down {
    transform: rotate(0deg);
}

.food {
    background-image: url("image/food.png");
    background-size: 100% 100%;
    background-position: center center;
}

.obstacle {
    background-image: url("image/rock.png");
    background-size: 100% 100%;
    background-position: center center;
}
.level-container,
.score-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: #cccc;
    padding: 1rem 2rem;
    border-radius: 10px;
}

#level {
    max-width: 200px;
}

.level-container {
    right: unset;
    left: 0;
}
.swal2-show{
    background-color: #0E0014 !important;
    width: 90vmin;
    border-radius: 10% !important;

}
.swal2-icon{
    width: 60% !important;
    height: 60% !important;
}
.overGame{
    width: 100%;
    height: 100%;
}